{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Product List</h2>

<ul class="product-list">
    {% for product in products %}
        <li>
            <a href="{% url 'product_detail' product.id %}">
                {{ product.name }}
            </a>
        </li>
    {% empty %}
        <li>No products available</li>
    {% endfor %}
</ul>

{% if user.is_staff %}
    <br>
    <a href="{% url 'add_product' %}">
        <button>Add Product</button>
    </a>
{% endif %}
{% endblock %}
